<div class="container-fluid box">
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 mt-5 mb-5">
            <div class="background" [style.background-color]="BgloginColor">
                <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 text-center">
                    <img src="{{UiData.PROGRAM_LOGO}}" class="image-fluid p-3 ml-4" width="200">
                </div>
                <div class="text-block mt-5" style="padding: 5rem!important;padding-left: 10rem!important;" [style.color]="BgColor"
                    innerHtml="{{UiData.WELCOME_TXT}}">
                </div>
       
                <div class="col-6 col-md-6 col-sm-6 col-lg-6 col-xl-6">

                </div>
                <div class="col-6 col-md-6 col-sm-6 col-lg-6 col-xl-6" id="gray-background"   [style.background-color]="UiData.login_page">
                    <p class="text-center mt-3 font-weight-bold text-capitalize main-text" [style.color]="BgColor">Change Password</p>
                    <form #form="ngForm">
                        <input type="password" placeholder="Password" name="Password"  [style.border-left]="'4px solid ' + BgColor" ngModel><br>
                        <input type="password" placeholder="Confirm Password" name="confirmPassword"  [style.border-left]="'4px solid ' + BgColor" ngModel><br>
                        <button class="btn btn-lg btn-lg" (click)="signIn(form)" [style.background-color]="BgColor">SUBMIT</button><br>
                    </form>
                    <button class="btn btn-lg btn-lg"  routerLink="/login"  [style.background-color]="BgColor">Go Back</button>
                    
                </div>

            </div>
        </div>

    </div>
</div>