.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    box-shadow: 0 5px 15px #0000007f;
}

#gray-background {
    height: 400px;
    position: absolute;
    top: 22%;
    left: 57%;
    height: 350px;
    width: 30%;
}

.main-text {
    font-size: medium;
}

input {
    overflow: visible;
    width: 90%;
    margin: 5%;
    /* border-left: 4px solid #01003a !important; */
    border: none;
    height: 35px;
    text-indent: 10px;
    font-size: small;
}

button {
    margin: 5%;
    /* background-color:#01003a; */
    width: 90%;
    color: white;
    font-size: 12px;
}

.box {
    padding-right: 100px;
    padding-left: 100px;
}